<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="{{trail_img}}" class="img-fluid rounded-start verticalAlign" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="{{trail_id}}" "card-title" id="{{trail_id}}">{{trails}} </h5>
        <p> See more details: {{link trail_info trail_info}}</p>

        <p>{{sighting}}</p>

        {{!-- <button id="6" class="trail-save-btn ms-2 text-nowrap btn btn-save">Save This Trail</button> --}}


        {{!-- <h6>What Animals did you see on this Trail?</h4>
        <div>
          <select name="animalSubmit" class="form-select" aria-label="Default select example">
            <option value="All">Animals</option>
            <option value="Bat" id="1">Bat</option>
            <option value="Bear" id="2">Bear</option>
            <option value="Beaver">Beaver</option>
            <option value="Blue Herring">Blue Herring</option>
            <option value="Bluejay">Bluejay</option>
            <option value="Bobcat">Bobcat</option>
            <option value="Cow">Cow</option>
            <option value="Coyote">Coyote</option>
            <option value="Crane">Crane</option>
            <option value="Deer">Deer</option>
            <option value="Dog">Dog</option>
            <option value="Donkey">Donkey</option>
            <option value="Emu">Emu</option>
            <option value="Fish">Fish</option>
            <option value="Frog">Frog</option>
            <option value="Hawk">Hawk</option>
            <option value="Horse">Horse</option>
            <option value="Lizard">Lizard</option>
            <option value="Llama">Llama</option>
            <option value="Mountain Lion">Mountain Lion</option> 
            <option value="Opossum">Opossum</option>
            <option value="Pig">Pig</option>
            <option value="Quail">Quail</option>
            <option value="Raccoon">Raccoon</option>
            <option value="Rat">Rat</option>  
            <option value="River Otter">River Otter</option>
            <option value="Skunk">Skunk</option>
            <option value="Snake">Snake</option>
            <option value="Squirrel">Squirrel</option>
            <option value="Turtle">Turtle</option>
            <option value="Woodpecker">Woodpecker</option>
          </select>
          <button type="button" class="submitAnimal btn btn-primary">Submit</button>          
        </div> --}}
        {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
      </div>
    </div>
  </div>
</div>

<script src="../javascript/submit-animal.js"></script>



