
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="{{trail_img}}" class="img-fluid rounded-start verticalAlign" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="{{trail_id}}" "card-title" id="{{trail_id}}">{{trails}} </h5>
        <p> See more details: {{link trail_info trail_info}}</p>
        <p>Total number of sightings on this trail by animal:</p>
          <div class="row">
            {{#each animal_name}}
            <div class="col-auto my-2 px-2">
              <button type="button" class="btn btn-sml btn-pallet-d1 position-relative rounded-pill py-0" style="font-size:.7rem;">
                {{.}}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill btn-pallet-d2">
                {{lookup ../sighting @index}}
                </span>
                </button>
            </div>
            {{/each}}
              
              <span class="visually-hidden">animal sightings</span>
            </span>
          </div>
      </div>
    </div>
  </div>
</div>


