
<div class="result-card-div mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src={{trail_img}}
        class="result-card-img img-fluid rounded-start"
        alt="Images from along the trail"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title mb-3">{{trail_name}}</h2>
        {{!-- <p class="card-text card-animal-count"><small class="text-muted">A total of {{ sighting]] animals of all kinds have been spotted on this trail.</small></p> --}}
        <a href="{{trail_url}}" class="card-trail-url me-2 btn" target="_blank">Learn more about this trail!</a>

        <button class="trail-save-btn ms-2 text-nowrap btn btn-save id="{{ trail_id}}">Save This Trail</button>

      </div>
    </div>
  </div>
</div>


{{!-- <script src="../javascript/result.js"></script> --}}
<script src="../../public/javascript/result.js"></script>

















{{!-- {{! ------------  Vertical Cards Code }}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">

    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="..." />
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>

        <p class="card-text"><small class="text-muted"># Total Animals Spotted
            on this trail</small></p>
      </div>
    </div>

  </div>
</div>




<script src="/public/javascript/result.js"></script> --}}